main {
    display: table;
    margin: 100px auto;
    user-select: none;
}
@media screen and (max-width: 480px) {
    main {
        margin: 0px auto;
    }
}

.board {
    border-collapse: collapse;
    border: none;
    cursor: pointer;
    border-style: hidden;
}

.board__field {
    --field-size: 40px;
    padding: 0px;
    width: var(--field-size);
    height: var(--field-size);
    line-height: var(--field-size);
    text-align: center;
    border: 2px solid black;
}

.reset_button {
    margin-top: 20px;
    width: 100%;
    border: 2px solid rgb(100, 100, 100);
    padding: 5px;
    background-color: white;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
