html {
    font-family: cursive, sans-serif;
    background-color: cadetblue;
}

main {
    display: table;
    margin: 100px auto;
    user-select: none;
}
@media screen and (max-width: 480px) {
    main {
        margin: 0px auto;
    }
}

.board {
    margin-top: 20px;
    border-collapse: collapse;
    border: none;
    cursor: pointer;
    border-style: hidden;
}

.board__field {
    --field-size: 40px;
    padding: 0px;
    width: var(--field-size);
    height: var(--field-size);
    line-height: var(--field-size);
    text-align: center;
    border: 2px solid black;
}

.board__field--solved {
    animation: shake 1.5s infinite;
    color: yellow;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    05% {
        transform: rotate(45deg);
    }
    15% {
        transform: rotate(-45deg);
    }
    20% {
        transform: rotate(0deg);
    }
}

.reset_button {
    margin-top: 20px;
    width: 100%;
    border: 0px solid rgb(100, 100, 100);
    padding: 5px;
    background-color: rgb(8, 101, 104);
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.end_message {
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
}

.end_message:before {
    content: '\200b';
}
